    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for restaurant
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName restaurant.localhost
      DocumentRoot "/home/lucho/desarrollo/rest/web"
      DirectoryIndex index.php
      <Directory "/home/lucho/desarrollo/rest/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/home/lucho/desarrollo/rest/lib/vendor/symfony/data/web/sf"
      <Directory "/home/lucho/desarrollo/rest/lib/vendor/symfony/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
